name: 'CI - Build'
on:
  workflow_dispatch: 
  
jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      artifact_name: ${{ steps.build_app.outputs.artifact_name }}
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: Check application version
      run: echo 'App version is $(cat version.txt)'
    - name: build_app
      id: build_app
      run: |
        VERSION=$(cat version.txt)
        ARTIFACT="artifact_${VERSION}"
        zip -r "scripts/${ARTIFACT}.zip" scripts/
        echo "artifact_name=$ARTIFACT" >> "$GITHUB_OUTPUT"
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: ${{ steps.build_app.outputs.artifact_name }}
        path: scripts/*.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Downlaod_artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ needs.build.outputs.artifact_name }}
          path: artifact
      - name : Extract_artifact
        run : |
          ls artifact/
          unzip artifact/*.zip -d extracted
      - name : 'Install PSQL'
        run : |
          sudo apt-get update
          sudo apt-get install -y postgresql-client

      - name: Execute_script
        run: |
          export PGPASSWORD="$SUPABASE_PASSWORD"
          psql -h "$SUPABASE_HOST" \
               -p 5432 \
               -d postgres \
               -U "$SUPABASE_USER" \
               -f extracted/scripts/dev.sql
        env:
          SUPABASE_HOST: aws-1-eu-central-1.pooler.supabase.com
          SUPABASE_USER: postgres.qxqpncxzbiuhsodhgmwk
          SUPABASE_PASSWORD: demogha2026
          
          
