name: 'CI - Build'
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: Check application version
      run: echo 'App version is $(cat version.txt)'
    - name: build_app
      id: build_app
      run: |
        VERSION=$(cat version.txt)
        ARTIFACT="artifact_$(VERSION)"
        zip -r "scripts/$(ARTIFACT).zip" scripts/
        echo "artifact_name=$ARTIFACT" >> "$GITHUB_OUTPUT"
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: ${{ steps.build_app.outputs.artifact_name }}
        path: scripts/*
